<!DOCTYPE html>
<html>
  <head>
    <title>リアルタイムで情報収集</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   	<table border="1">
   <tr>
    <th>番号</th>
    <th>ID</th>
    <th> MAC</th>
    <th> デバイス名</th>
    <th>電波</th>
    <th>時間</th>
  </tr>		
   	 <% var i = 0;%>
     <% infoList.forEach(function(item){ %>
     <% i++%>   
  <tr>
    <td><%=i%></td>
 <!--><%= item.get("BLid") %></td>-->
    <td><%= item.id%></td>
    <td><%= item.get("macId") %></td>
    <td><%= item.get("localname") %></td>
    <td><%= item.get("rssi") %></td>
    <td><%= item.get("time") %></td>
  </tr>
     <% }) %>
 </table>
  </body>
</html>


